# Binaries
bin
bin-int
!3rdParty/GLEW/bin

# Assets
#	Some assets maybe avaliable to be able to follow the wiki
Assets/Scenes

# Visual Studio
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user