# Binaries
bin
bin-int
!3rdParty/gtreflect/bin

#Make Files
**/Makefile
**/**.make

# Engine's Logs
**.gtlog

# Visual Studio
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Visual Studio Code
.vscode

#NextCloud
**/Thumbs.db