[submodule "3rdParty/entt"]
	path = 3rdParty/entt
	url = https://github.com/skypjack/entt
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/VMormoris/imgui
[submodule "3rdParty/cereal"]
	path = 3rdParty/cereal
	url = https://github.com/USCiLab/cereal
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm
[submodule "3rdParty/stb"]
	path = 3rdParty/stb
	url = https://github.com/nothings/stb
[submodule "3rdParty/IconFontCppHeaders"]
	path = 3rdParty/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders